body{
  margin: 0;
}

.addinput {
  margin-top: -657px;
  margin-left: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body .addinput{
  background-color: rgb(173, 167, 167);
  height: 100vh;
}
 .container {
/* margin-top: 70px; */
margin: -17px;
text-align: center;

}
.innercontainer {
  color: white;
}
 .tableContainer {
  margin-top: 10px;
margin-left: 350px;
color: white;

} 
.tableContainer td{
  background-color: rgb(250, 250, 245);
  color: black;
}
.container p{
  padding: 30px;
  background-color: rgb(148, 142, 142);
}
.innercontainer{
  margin-top: -18px;
  /* background-color: rgb(223, 193, 200); */
  /* background-color:rgb(139, 139, 137); */
  background-color: rgb(148, 142, 142);
  width: 200px;
  height: 100vh;
  
}
input[type=text]
{
  height: 2em;
  width: 300px;
  display: block; 
  margin: 0 325px;
}
button{
  background-color:  rgb(41, 38, 39);
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  color: white;
  margin-left: -220px;
}
.delete{
  background-color: rgb(219, 55, 55);
   margin-left: 5px; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
